PORT="3000"

# Database
ENCRYPTION_KEY="Fy2mcmCCOS6LsLRpkoeJSFCNVaixHN9oLEdoU+6lu2A="
ENCRYPTION_PASSCODE=""
SQLITE_FILE_LOCATION="./guineatrade.db"


# JWT
JWT_SECRET_KEY="superlongkey"
JWT_TIMEOUT_HOURS=15
JWT_REFRESH_DAYS=7