PORT="3000"

# Database
ENCRYPTION_KEY="Fy2mcmCCOS6LsLRpkoeJSFCNVaixHN9oLEdoU+6lu2A="
SQLITE_FILE_LOCATION="./guineatrade.db"


# JWT
JWT_SECRET_KEY="superlongkey"
JWT_TIMEOUT_MINUTES=15
JWT_REFRESH_DAYS=7

# Backpack.tf
BACKPACK_API_KEY="12345678901234567890abcd"