PORT="3000"

# Database
ENCRYPTION_KEY="Fy2mcmCCOS6LsLRpkoeJSFCNVaixHN9oLEdoU+6lu2A="
SQLITE_FILE_LOCATION="./guineatrade.db"


# JWT
JWT_SECRET_KEY="superlongkey"
JWT_TIMEOUT_MINUTES=15
JWT_REFRESH_DAYS=7

# Backpack.tf
BACKPACK_API_KEY="12345678901234567890abcd"
BACKPACK_API_HASH="sha256:39a999a6d0aad5c4be9ea3c952dd6331d6c14ff2b2c0f1e1e99fb11e8653e78f"

# Steam API
STEAM_API_HASH="sha256:STEAM_API_HASH_HERE"

# Steam Bot
BOT_PORT="3001"
STEAM_BOT_URL=http://steam-bot:3001
BOT_API_KEY=super-secret-key

STEAM_USERNAME=guineatradebot
STEAM_PASSWORD=
STEAM_SHARED_SECRET=
STEAM_IDENTITY_SECRET=

# Stripe
STRIPE_SECRET_KEY="12345678901234567890abcd"
STRIPE_WH_SECRET_KEY="12345678901234567890abcd"